@charset "UTF-8";@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');

/* Card */
.card {
  margin-bottom: 30px;
  border: none;
  border-radius: 5px;
  width: 100%;
  height:100%;
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
}

.card-header,
.card-footer {
  border-color: #ebeef4;
  background-color: #fff;
  color: #798eb3;
  padding: 15px;
}

.card-title {
  padding: 20px 0 15px 0;
  font-size: 1.5rem;
  font-weight: bold;
  color: #012970;
  font-family: "Poppins", sans-serif;
}

.card-title span {
  color: #899bbd;
  font-size: 14px;
  font-weight: 400;
}

.card-body {
  padding: 0 20px 20px 20px;
  width: 100%
}

.card-img-overlay {
  background-color: rgba(255, 255, 255, 0.6);
}

/*--------------------------------------------------------------
# btn
--------------------------------------------------------------*/
.btn {
	position: relative;
	width: 100%;
	right: 100%;
	display: inline-block;
	border: none;
	background-color: #7e57c2;
	color:  white;
	
}
.btn:hover {
    background-color: #9575cd;
    color: white;
}

.btn.bfmCancle {
	position:absolute;
	width: 100px;
	right: 140px;
	bottom: 20px;
}


.btn.bfmModify {
	position:absolute;
	width: 100px;
	right: 20px;
	bottom: 20px;
   
}
