@charset "UTF-8";@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');

/* Card */
.card {
  margin-bottom: 30px;
  border: none;
  border-radius: 5px;
  width: 100%;
  height:100%;
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
}

.card-header,
.card-footer {
  border-color: #ebeef4;
  background-color: #fff;
  color: #798eb3;
  padding: 15px;
}

.card-title {
  padding: 20px 0 15px 0;
  font-size: 1.5rem;
  font-weight: bold;
  color: #012970;
  font-family: "Poppins", sans-serif;
}

.card-title span {
  color: #899bbd;
  font-size: 14px;
  font-weight: 400;
}

.card-body {
  padding: 0 20px 20px 20px;
  width: 100%
}

.card-img-overlay {
  background-color: rgba(255, 255, 255, 0.6);
}

/*--------------------------------------------------------------
# btn
--------------------------------------------------------------*/
.btn {
	position: relative;
	width: 100%;
	right: 100%;
	display: inline-block;
	border: none;
	background-color: #0d6dfd;
	color:  white;
	
}
.btn:hover {
    background-color: #0b5ed7;
    color: white;
}

.btn.bfmCancle {
	position:absolute;
	width: 80px;
	right: 110px;
	bottom: 20px;
}


.btn.bfmModify {
	position:absolute;
	width: 80px;
	right: 20px;
	bottom: 20px;
   
}



.upload-title {
    margin: 10px 0;
    height: 85px;
    border: 2px dashed #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    white-space: pre-line; /* 줄 바꿈 적용 */
}


#formFile-box {
	width: 100%;
	height: 80px !important;
	overflow-y: auto; 
}

#cboard_content {
	height: 460px;
}

.upload-files {
position: relative;
 width: 100%;
 margin-bottom: 5px;
}

.fileName {
        display: inline-block; /* 요소를 인라인 블록 요소로 지정하여 수평으로 표시 */
        margin-right: 10px; /* 파일 이름 사이의 간격 설정 */
    }
    


