@import
	url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css')
	;
	
.main-card {
	border: none;
	box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
}

.board-comment * {
	font-family: 'NanumSquare', sans-serif;
}

.btn-container {
	position: relative;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 0.3rem 0.5rem;
	width: 100%;
	max-width: 200px;
}	

.btn-container:hover button,
.btn-container:hover i {
	color: #212121;
}

.comment-header {
	display: flex;
	padding-bottom: 20px;
	align-items: center;
	background: #fff;
	position: relative; 
}

.comment-user-container {
	margin-left: 15px;
	flex-grow: 1; 
}


.comment-user-profile {
	font-size: 2em;
}

.card-subtitle {
	color: #757575;
	font-size: 13px;
}

.markdown-body {
	font-size: 16px;
}

.comment-replay {
	display: flex;
	justify-content: flex-end;
}