@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');
/*--------------------------------------------------------------
# section
--------------------------------------------------------------*/
/* Card */
.card1 {
  margin-bottom: 30px;
  background-color: white;
  width: 30%;
  height: 700px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
  overflow-y: auto;
}

.card2 {
  margin-bottom: 30px;
  background-color: white;
  width: 68%;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
  overflow-y: auto;
}

project > div {
	display: flex;
}

.my-project-detail> div:first-child {
	display: flex;
} 



.detail-card {
  margin-bottom: 10px;
  background-color: #88a2fd;
  width: 100%;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0 10px rgba(1, 41, 112, 0.1);
}

.detail-card .card-title {
  color : white;
  font-size: 25px;
}

.card-body {
  padding: 20px 20px 20px 20px;
}

.card-body div {
  justify-content: space-between;
}

.card-title {
  padding: 0px 0 15px 0;
  font-size: 18px;
  font-weight: 500;
  color: #012970;
  font-family: "Poppins", sans-serif;
}

.my-porject-title {
	display: flex
}

.project .card-body .my-project-detail-title {
  font-family:'NanumSquare', sans-serif;
  font-weight: bold;
  width: 240px;
  margin-top: 7px;
}

.my-porject-title .card-title {
  font-family:'NanumSquare', sans-serif;
  font-weight: bold;
  width: 240px;
}

.all-project-report-box {
	display: flex;	
}

.all-project-report-detail {
  margin-bottom: 30px;
  display: flex;
  background-color: #88a2fd;
  color: white;
  width: 29%;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0 10px rgba(1, 41, 112, 0.1);
  overflow-y: auto;
}

all-project-report-detail div:first-child {
	width: 78%
}

.all-project-report-detail div p:first-child {
	font-family: 'NanumSquare', sans-serif;
	font-weight: bold;
	font-size: 20px;
}

.all-project-report-detail div:last-child {
	width: 20%
}

.all-project-report-detail div p:last-child {
	font-family: 'NanumSquare', sans-serif;
	text-decoration: underline;
}

.summary .card-body h5 {
  font-family:'NanumSquare', sans-serif;
  font-weight: bold;
}

/* Info Cards */
.dashboard {
  display: flex;
  justify-content: space-between;
}

.dashboard .info-card {
  padding-bottom: 10px;
}

/* button */
.plus-btn {
  background-color: #486ef3;
  border: none;
  color: white;
  margin-top: -15px;
  width: 28px;
  height: 28px;
  border-radius: 0.375rem;
}

.plus-btn:hover {
  background-color: #8ca2f0;
}

.enter-btn {
  background-color: white;
  font-family:'NanumSquare', sans-serif;
  font-weight: bold;
  border: none;
  color: #012970;
  width: 80px;
  height: 40px;
  border-radius: 5px;
  margin-top: -5px;
  box-shadow: 0px 0 10px rgba(1, 41, 112, 0.1);
}
