@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');
/*--------------------------------------------------------------
# section
--------------------------------------------------------------*/
/* Card */
.card1 {
  margin-bottom: 30px;
  background-color: white;
  width: 30%;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
  overflow-y: auto;
}

.card2 {
  margin-bottom: 30px;
  background-color: white;
  width: 68%;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
  overflow-y: auto;
}

project > div {
	display: flex;
}

.my-project-detail> div:first-child {
	display: flex;
} 

.detail-card {
  margin-bottom: 10px;
  background-color: #90a4ec;
  width: 100%;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0 10px rgba(1, 41, 112, 0.1);
}

.detail-card .card-title {
  color : white;
  font-size: 25px;
}

.card-body {
  padding: 0 20px 20px 20px;
}

.card-body div {
  justify-content: space-between;
}

.card-title {
  padding: 20px 0 15px 0;
  font-size: 18px;
  font-weight: 500;
  color: #012970;
  font-family: "Poppins", sans-serif;
}

.my-porject-title {
	display: flex
}

.project .card-body h5 {
  font-family:'NanumSquare', sans-serif;
  font-weight: bold;
  width: 240px;
}

.summary .card-body h5 {
  font-family:'NanumSquare', sans-serif;
  font-weight: bold;
}

/* Info Cards */
.dashboard {
  display: flex;
  justify-content: space-between;
}

.dashboard .info-card {
  padding-bottom: 10px;
}

/* button */
.plus-btn {
  background-color: #486ef3;
  border: none;
  color: white;
  margin-top: 15px;
  width: 28px;
  height: 28px;
  border-radius: 0.375rem;
}

.plus-btn:hover {
  background-color: rgb(139, 164, 248);
}

.enter-btn {
  background-color: white;
  font-family:'NanumSquare', sans-serif;
  font-weight: bold;
  border: none;
  color: #012970;
  margin-top: 15px;
  width: 80px;
  height: 40px;
  border-radius: 5px;
  margin-top: 20px;
  box-shadow: 0px 0 10px rgba(1, 41, 112, 0.1);
}
