@charset "utf-8";

@import
	url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css')
	;

body {
	font-family: 'NanumSquare', sans-serif;
	width: 100%;
	margin: 0;
	padding: 0;
	box-shadow: 0 5px 20px 0 rgba(82, 63, 105, 0.2);
}
.receivebox-section {
	margin-top: -10px;
}

/* Card */
.card {
  margin-bottom: 30px;
  border: none;
  border-radius: 5px;
  width: 100%;
  height: 83%;
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
}

.table-container {
    margin: 20px;
    overflow-x: auto;
    background-color: #FFFFFF;
    overflow: hidden; 
    border: none;
}

/* 테이블의 전반적인 스타일 */
.table {
	width: 100%;
	margin-bottom: 50px; /* 하단으로 튀어나오는 여백 */
	border-collapse: collapse;
}

.table th, .table td {
	padding: 10px;
	text-align: left;
	border: none;
}

/* 메일 툴바의 스타일 */
.table thead th {
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
    font-size: 15px;
    font-weight: bold;
}

thead th:first-child {
    width: 65px; /* 선택 셀 가로 */
}
thead th:nth-child(2) {
    width: 80px; /* 읽음 여부 셀 가로 */
}
thead th:nth-child(4) {
    width: 100px; /* 글쓴이 셀 가로*/
}

thead th:nth-child(5) {
    width: 130px; /* 기간 셀 가로 */
}


/* 각 항목에 마우스 호버 시 배경색 변경 */
.table .btn-msg-storebox:hover, .table .btn-msg-trashbox:hover {
    background-color: #0D6DFD; /* 마우스를 올렸을 때의 배경색 */
    color: #ffffff; /* 마우스를 올렸을 때의 텍스트 색상 */
    border: 1px solid #0D6DFD;
}

/* 메일 목록 리스트의 스타일 */
.table .list-item {
	font-size: 13px;
	font-weight: bold;
}

.table .list-item .subject:hover {
    cursor: pointer;
    text-decoration: underline;
}

.table .list-item .author:hover {
    cursor: pointer;
    text-decoration: underline;
}

.table input[type="checkbox"] {
	margin-right: 5px;
	margin-top: 3px; /* 체크박스와 텍스트 사이에 여백 추가 */
}

/* 리스트 하단 공백과 경계선 */
.mailList-whiteSpace {
  border-bottom: 1px solid #e7e7e7; /* 원하는 경계선 스타일 및 색상으로 설정 */
  padding-bottom: 2px; /* 아래쪽으로 밀어내어 보더바텀을 줄임 */
  margin-bottom: -2px; /* 아래 여백을 제거하여 총적으로 길이를 줄임 */
}

.mailList-whiteSpace td {
  height: 40px; /* 원하는 높이로 조절 */
}


/* 받은 메일함 메일 제목 */
.table .subject {
	white-space: nowrap; /* 텍스트가 줄 바꿈되지 않도록 설정 */
	overflow: hidden; /* 넘치는 부분을 감 */
	/* 텍스트가 너무 길어서 화면에 표시되지 않을 때, 말줄임표(...)로 표시되도록 설정 */
	text-overflow: ellipsis;
	width: 800px;
}

/* 쪽지 쓰기 버튼 */
.msg-create {
	position:absolute;
	margin-top: 40px; 
    margin-left: 20px;
}
.msg-create .msg-create-btn {
    width: 100px;
    height: 35px;
    background-color: white;
    border: 1px solid #0D6DFD;
    border-radius: 5px;
    color: #0d6efd;
    padding: 1px 15px;
    transition: background-color 0.3s ease; /* 부드러운 전환을 위한 트랜지션*/
    font-size: 16px;
    font-weight: bold;
    
}
.msg-create .msg-create-btn:hover { 
	background-color: #0129704D; /* 마우스를 올렸을 때의 배경색 */
    color: #ffffff; /* 마우스를 올렸을 때의 텍스트 색상 */
    border: 1px solid #0129704D;
    cursor: pointer;
}

/*========== 전체 쪽지 & 읽은 쪽지 count ==========*/
.note-count {
	position:absolute;
	margin-top: 55px;
	margin-left: 135px;
	font-size: 15px;
	font-weight: bold;
	color: #555;
}

.note-count #readCount {
	color: red;
}

.note-count #totalCount {
	color: blue;
}

/* 쪽지 보관버튼 삭제버튼 */
.btn-container {
    position: absolute;
    display: flex;
    right: 40px; /* 우측에서 40px 떨어진 위치 */
    bottom: 17px; /* 아래에서 50px 떨어진 위치 */
}

.btn-msg-storebox,
.btn-msg-trashbox {
    margin-left: 0px;
    color: #0d6efd;
    background-color: white;
    border: 1px solid #0D6DFD;
    padding: 1px 15px;
    transition: background-color 0.3s ease; /* 부드러운 전환을 위한 트랜지션*/
    font-weight: bold;
    height: 35px;
}

.btn-msg-storebox:first-child {
    border-top-left-radius: 5px; /* 좌측 상단 둥근 경계 설정 */
    border-bottom-left-radius: 5px; /* 좌측 하단 둥근 경계 설정 */
    border-right: none;
}

.btn-msg-trashbox:last-child {
    border-top-right-radius: 5px; /* 우측 상단 둥근 경계 설정 */
    border-bottom-right-radius: 5px; /* 우측 하단 둥근 경계 설정 */
}

.btn-msg-storebox:hover,
.btn-msg-trashbox:hover {
    background-color: #0D6DFD; /* 마우스를 올렸을 때의 배경색 */
    color: #ffffff; /* 마우스를 올렸을 때의 텍스트 색상 */
    border: 1px solid #0D6DFD;
}
/*========== 검색바&셀렉트박스 ==========*/
/* 검색바 스타일 */
.receivebox-section .search-container {
	margin-top: 30px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 15px;
    margin-bottom: -40px;
    position: relative;
}

.receivebox-section .search-bar {
    min-width: 360px;
    padding: 0 20px;
    position: relative;
    
}

.receivebox-section .search-form {
    width: 100%;
    display: flex;
    align-items: center;
}

.receivebox-section .search-form input {
    border: 0;
    font-size: 14px;
    color: #012970;
    border: 1px solid rgba(1, 41, 112, 0.2);
    padding: 7px 38px 7px 8px;
    transition: 0.3s;
    width: 100%;
    height: 35px;
    border-radius: 0 5px 5px 0; /* 검색바의 테두리를 둥글게 만듦 (우측만 둥글게) */
}

.receivebox-section .search-form input:focus,
.receivebox-section .search-form input:hover {
    outline: none;
    border: 1px solid #0129704D;
}

.receivebox-section .search-form button {
    border: 0;
    padding: 0;
    margin-left: -30px;
    background: none;
}


/* 셀렉트 박스 스타일 */
.receivebox-section .search-container .search-bar select {
	margin-bottom: 10px;
    border: 1px solid #01297033;
    padding: 7px 38px 7px 8px;
    background: white;
    font-size: 14px;
    text-align: left;
    cursor: pointer;
    height: 35px; 
    border-right: none;
    border-radius: 5px 0 0 5px;
}

.receivebox-section .search-container .search-bar select:focus ,
.receivebox-section .search-container .search-bar input:hover {
    outline: none;
    border: 1px solid #0129704D;
}

/*========== 검색바&드롭박스 END ==========*/


/*========== 쪽지 페이지 리스트 ==========*/
.msgReceivebox-pagination-container {
    display: flex;
    justify-content: center;
    margin-top: -55px;
}

.msgReceivebox-pagination-container .pagination {
    margin: 0;
}

.msgReceivebox-pagination-container .pagination li {
    margin: 0; /* 각 번호 간격 조절 */
}

.msgReceivebox-pagination-container .pagination a {
    color: #0D6DFD;
    font-weight: bold;
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid #0129704D; /* 테두리 색상 변경 */
}

.msgReceivebox-pagination-container .pagination a:hover {
    background-color: #0D6DFD;
    color: #fff;
}

.msgReceivebox-pagination-container .pagination .active a {
    background-color: #0D6DFD;
    color: #fff;
}

/* 화살표 부분 둥글게 */
.msgReceivebox-pagination-container .pagination li:first-child a {
    border-radius: 3px 0 0 3px; /* 왼쪽 끝만 둥글게 */
}

.msgReceivebox-pagination-container .pagination li:last-child a {
    border-radius: 0 3px 3px 0; /* 오른쪽 끝만 둥글게 */
}

/* 폼 요소 간격 */
.receivebox-section .search-bar select {
	margin-top: 10px;
}

/* 테이블 스타일링 */
.table {
	table-layout: fixed;
}

.table th, .table td {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

/* 페이지 레이아웃 */
.main {
	padding: 20px; /* 적절한 패딩값 사용 */
}

/*========== 화면 작아질때  ==========*/
/* 반응형 디자인 */
@media screen and (max-width: 768px) {
    .table-container {
        overflow-x: auto;
    }

    .btn-container {
        position: absolute;
        display: flex;
        flex-direction: column; /* 세로 방향으로 배치 */
        right: 20px; /* 우측에서 20px 떨어진 위치 */
        bottom: 10px; /* 아래에서 10px 떨어진 위치 */
    }

    .btn-msg-storebox,
    .btn-msg-trashbox {
        margin-top: 10px; /* 각 버튼 사이의 간격을 조정 */
        width: 100%; /* 버튼을 100% 너비로 설정하여 컨테이너에 꽉 차게 배치 */
    }

    /* 테이블의 스타일 수정 */
    .table {
        width: auto; /* 테이블의 너비를 자동으로 설정하여 내용에 맞게 조절 */
    }

    .card {
        width: auto; /* 카드의 너비를 자동으로 설정하여 내용에 맞게 조절 */
    }

    .list-item {
        white-space: nowrap; /* 메일 목록 리스트의 텍스트가 줄 바꿈되지 않도록 설정 */
        overflow: hidden; /* 넘치는 부분을 감 */
        text-overflow: ellipsis; /* 텍스트가 너무 길어서 화면에 표시되지 않을 때 말줄임표로 표시 */
    }

    .mailList-whiteSpace td {
        white-space: nowrap; /* 메일 목록 리스트의 텍스트가 줄 바꿈되지 않도록 설정 */
        overflow: hidden; /* 넘치는 부분을 감 */
        text-overflow: ellipsis; /* 텍스트가 너무 길어서 화면에 표시되지 않을 때 말줄임표로 표시 */
    }

    /* 메일 목록 리스트의 높이를 기준으로 다른 요소들의 높이를 조정 */
    .receivebox-section {
        height: auto;
    }

    .table-container {
        height: auto;
    }

    /* 추가적으로 필요한 스타일을 계속해서 추가할 수 있습니다. */
}

