@charset "utf-8";

@import
	url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css')
	;

body {
	font-family: 'NanumSquare', sans-serif;
	margin: 0;
	padding: 0;
	background-color: #EDEEFF;
	box-shadow: 0 5px 30px 0 rgba(82, 63, 105, 0.2);
}
.receivebox-section {
	margin-top: -10px;
}
.table-container {
    margin: 20px;
    overflow-x: auto;
    box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.2);
    background-color: #FFFFFF;
}

/* 테이블의 전반적인 스타일 */
.table {
	width: 100%;
	margin-bottom: 0; /* 하단으로 튀어나오는 여백 제거 */
}

.table th, .table td {
	padding: 10px;
	text-align: left;
	font-weight: bold;
	border: none;
}

/* 메일 툴바의 스타일 */
.table thead th {
	background-color: #0D6DFD;
	color: #FFFFFF;
}

/* 메일 목록 리스트의 스타일 */
.table .list-item {
	font-size: 13px;
}

.table input[type="checkbox"] {
	margin-right: 5px;
	margin-top: 3px; /* 체크박스와 텍스트 사이에 여백 추가 */
}

/* 받은 메일함 메일 제목 */
.table .subject {
	white-space: nowrap; /* 텍스트가 줄 바꿈되지 않도록 설정 */
	overflow: hidden; /* 넘치는 부분을 감 */
	/* 텍스트가 너무 길어서 화면에 표시되지 않을 때, 말줄임표(...)로 표시되도록 설정 */
	text-overflow: ellipsis;
	width: 900px;
}
/* 메일 보관버튼 삭제버튼 */
.btn-container {
	margin-right: 21px;
	display: flex;
	justify-content: flex-end; /* 우측 정렬 */
}

.btn-msg-storebox, .btn-msg-trashbox {
	margin-left: 10px;
	color: #0d6efd;
	background-color: transparent;
	border: 2px solid #0D6DFD;
	border-radius: 7px; /* 모서리를 둥글게 만들기 */
	padding: 2px 15px;
	transition: background-color 0.3s ease; /* 부드러운 전환을 위한 트랜지션 추가 */
	font-weight: bold;
}

.btn-msg-storebox:hover, .btn-msg-trashbox:hover {
	background-color: #0D6DFD; /* 마우스를 올렸을 때의 배경색 */
	color: #ffffff; /* 마우스를 올렸을 때의 텍스트 색상 */
	border: 2px solid #0D6DFD;
}

/* =========검색바========= */
/* 공통 스타일 */
.receivebox-section .search-container {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-right: 15px;
	margin-bottom: -30px;
}
/* 검색바 스타일 */
.receivebox-section .search-bar {
	min-width: 360px;
	padding: 0 20px;
}

@media ( max-width : 1199px) {
	.receivebox-section .search-bar {
		position: fixed;
		top: 50px;
		left: 0;
		right: 0;
		padding: 20px;
		box-shadow: 0px 0px 15px 0px rgba(1, 41, 112, 0.1);
		background: white;
		z-index: 9999;
		transition: 0.3s;
		visibility: hidden;
		opacity: 0;
	}
	.receivebox-section .search-bar-show {
		top: 60px;
		visibility: visible;
		opacity: 1;
	}
}

.receivebox-section .search-form {
	width: 100%;
	display: flex;
	align-items: center;
}

.receivebox-section .search-form input {
	border: 0;
	font-size: 14px;
	color: #012970;
	border: 1px solid rgba(1, 41, 112, 0.2);
	padding: 7px 38px 7px 8px;
	border-radius: 0px;
	transition: 0.3s;
	width: 100%;
}

.receivebox-section .search-form input:focus, .receivebox-section .search-form input:hover
	{
	outline: none;
	border: 1px solid rgba(1, 41, 112, 0.3);
}

.receivebox-section .search-form button {
	border: 0;
	padding: 0;
	margin-left: -30px;
	background: none;
}

.receivebox-section .search-form button i {
	color: #012970;
}

/* 드롭다운 스타일 */
.receivebox-section .dropdown {
	position: relative;
	display: inline-block;
	min-width: 90px;
	color: #012970;
	border: 1px solid rgba(1, 41, 112, 0.2);
	padding: 7px 38px 7px 8px;
	background: white;
	font-size: 14px;
	text-align: left;
	cursor: pointer; /* 영역이 클릭되게 */
}

.receivebox-section .dropdown-menu {
	position: absolute;
	top: 100%;
	right: -1px;
	z-index: 1000;
	display: none;
	min-width: 110px;
	list-style: none;
	background: white;
	border: 1px solid #ccc;
	border-radius: 0px;
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	font-size: 14px;
	text-align: left;
}

.receivebox-section .dropdown-menu li {
	text-align: left; /* 메뉴 아이템을 왼쪽 정렬로 변경 */
}

.receivebox-section .dropdown-menu li a {
	display: block;
	padding: 3px 1.5rem;
	color: #212529;
	white-space: nowrap;
	text-align: left; /* 메뉴 아이템 텍스트를 왼쪽 정렬로 설정 */
}

.receivebox-section .dropdown-menu li:hover a, .receivebox-section .dropdown-menu li:focus a
	{
	color: #fff;
	text-decoration: none;
	background-color: #007bff;
}

.receivebox-section .dropdown-menu .dropdown-item {
	text-align: left;
}

.receivebox-section .dropdown.active .dropdown-menu {
	display: block;
}
/* 검색바&드롭박스 END */

/* 전체 쪽지 & 읽은 쪽지*/
.note-count {
	margin-top: 50px;
	margin-bottom: -40px;
	margin-left: 30px;
	font-size: 15px;
	font-weight: bold;
	color: #555;
}

.note-count #readCount {
	color: red;
}

.note-count #totalCount {
	color: blue;
}

/* 리스트 번호 */
.pagination {
	--bs-pagination-padding-x: 0.75rem;
	--bs-pagination-padding-y: 0.375rem;
	--bs-pagination-font-size: 1rem;
	--bs-pagination-color: var(--bs-link-color);
	--bs-pagination-bg: #fff;
	--bs-pagination-border-width: 1px;
	--bs-pagination-border-color: #dee2e6;
	--bs-pagination-border-radius: 0.375rem;
	--bs-pagination-hover-color: var(--bs-link-hover-color);
	--bs-pagination-hover-bg: #e9ecef;
	--bs-pagination-hover-border-color: #dee2e6;
	--bs-pagination-focus-color: var(--bs-link-hover-color);
	--bs-pagination-focus-bg: #e9ecef;
	--bs-pagination-focus-box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
	--bs-pagination-active-color: #fff;
	--bs-pagination-active-bg: #0d6efd;
	--bs-pagination-active-border-color: #0d6efd;
	--bs-pagination-disabled-color: #6c757d;
	--bs-pagination-disabled-bg: #fff;
	--bs-pagination-disabled-border-color: #dee2e6;
	display: flex;
	justify-content: center;
	padding-left: 0;
	list-style: none;
	margin-top: -30px;
}

.page-link {
	position: relative;
	display: block;
	padding: var(--bs-pagination-padding-y) var(--bs-pagination-padding-x);
	font-size: var(--bs-pagination-font-size);
	color: var(--bs-pagination-color);
	text-decoration: none;
	background-color: var(--bs-pagination-bg);
	border: var(--bs-pagination-border-width) solid
		var(--bs-pagination-border-color);
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
		border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media ( prefers-reduced-motion : reduce) {
	.page-link {
		transition: none;
	}
}

.page-link:hover {
	z-index: 2;
	color: var(--bs-pagination-hover-color);
	background-color: var(--bs-pagination-hover-bg);
	border-color: var(--bs-pagination-hover-border-color);
}

.page-link:focus {
	z-index: 3;
	color: var(--bs-pagination-focus-color);
	background-color: var(--bs-pagination-focus-bg);
	outline: 0;
	box-shadow: var(--bs-pagination-focus-box-shadow);
}

.page-link.active, .active>.page-link {
	z-index: 3;
	color: var(--bs-pagination-active-color);
	background-color: var(--bs-pagination-active-bg);
	border-color: var(--bs-pagination-active-border-color);
}

.page-link.disabled, .disabled>.page-link {
	color: var(--bs-pagination-disabled-color);
	pointer-events: none;
	background-color: var(--bs-pagination-disabled-bg);
	border-color: var(--bs-pagination-disabled-border-color);
}

.page-item:not(:first-child) .page-link {
	margin-left: -1px;
}

.page-item:first-child .page-link {
	border-top-left-radius: var(--bs-pagination-border-radius);
	border-bottom-left-radius: var(--bs-pagination-border-radius);
}

.page-item:last-child .page-link {
	border-top-right-radius: var(--bs-pagination-border-radius);
	border-bottom-right-radius: var(--bs-pagination-border-radius);
}

.pagination-lg {
	--bs-pagination-padding-x: 1.5rem;
	--bs-pagination-padding-y: 0.75rem;
	--bs-pagination-font-size: 1.25rem;
	--bs-pagination-border-radius: 0.5rem;
}

.pagination-sm {
	--bs-pagination-padding-x: 0.5rem;
	--bs-pagination-padding-y: 0.25rem;
	--bs-pagination-font-size: 0.875rem;
	--bs-pagination-border-radius: 0.25rem;
}